body{
  background-color: #ECECEC;
}

header{
  width: 100%;
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
}

.container{
  width: 85%;
  margin: auto;
  background-color: white;
}

.landingImage{
  width: 100%;
  height: 300px;
  position: relative;
  left:0;
  background: linear-gradient(rgba(29,113,182,.50), rgba(29,113,182,.50)), url('../images/Waves_in_pacifica_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#waveIcon{
  height: 30px;
  width: 30px;
  position: relative;
  left: 9%;
  vertical-align: middle;
}

header h1{
  position: relative;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size:75px;
  font-family: Geneva;
  padding-bottom: 5px;
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
}

header p{
  position: relative;
  top: -50px;
  text-align: center;
  padding-top: 5px;
}

header h4{
  position: relative;
  left: 10%;
  display: inline-block;
  font-weight: normal;
}

header ul{
  position: relative;
  right: 10%;
  list-style: none;
  display: inline-block;
  float: right;
  font-weight: lighter;
}

header li{
  display: inline-block;
  margin-right: 10px;
}

.magnifyingGlass{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  height: 15px;
  width: 15px;
}

#mainBlock{
  display: inline-block;
  float: left;
  width: 49%;
  margin: 80px 5% 40px 10%;
}

section h1{
  color: #0f314f;
  font-family: Arial Narrow;
  font-size: 50px;
  margin: 0px 0px 0px 0px;
}

#sideBar{
  display: inline-block;
  float: right;
  width: 20%;
  margin: 50px 10% 0 5%;
}

#ad a{
  font-size: 10px;
}

section ul{
  list-style: none;
  display: inline-block;
  float: left;
}

section li{
  display: inline-block;
  color: grey;
}

#postInfo{
  width: 100%;
  display: block;
  padding-left: 0px;
  margin: 0px 0px 25px 0px;
}

#postInfo img{
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

#authorName{
  color: #2671AC;
}

#date{
  text-decoration: underline;
}

a{
  color: #AAA;
}

a:hover{
  color: #2671AC;
}

blockquote{
  position: relative;
  text-transform: uppercase;
  color: #2671AC;
  font-size: 30px;
  border-style: solid;
  border-color: #AAA;
  border-width: 0px 0px 0px 2px;
  padding: 10px 0px 10px 30px;
  left: -38px;
}

#sideBar{
  margin-top: 80px;
  color: #AAA;
}

#sideBar h4{
  color: #2671AC;
}

#profile{
  text-align: center;
  height: 150px;
}

#profile h4{
  font-weight: normal;
  margin: 5px 0px 5px 0px;
}

#profile p{
  color: #AAAAAA;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 0px;
}

#ad{
  margin-bottom: 50px;
}

#ad img{
  width:50%;
}

#ad a{
  float: right;
}

#sideBarHidden{
  width: 97%;
  height: auto;
  display: inline-block;
  padding: 30px 10px 0px 10px;
  border-style: solid;
  border-color: #AAA;
  border-width: 1px 0px 0px 0px;
}

#lowerMainBlock{
  position: relative;
  display: inline-block;
  width: 99%;
  text-align: center;
  border-style: solid;
  border-color: #AAA;
  border-width: 1px 0px 0px 0px;
  padding: 30px 0px 30px 0px;
}

#posts ul{
  width: 100%;
  display: block;
  float: left;
  margin:0;
  padding: 0;
  font-weight: bold;
}

#posts li{
  color: black;
  position: relative;
  float: left;
  display: block;
  bottom: 0px;
  transition: color 1s ease;
}

#Posts p{
  position: absolute;
  bottom: 0;
  font-size: 25px;
}

#Post1{
  background: linear-gradient(rgba(29,113,182,.75), rgba(29,113,182,.75)), url('../images/surfing.jpg');
  width: 25%;
  height: 300px;
  margin: 0;
  padding: 0;
  background-size: cover;
  position:relative;
}

#Post1:hover{
  background: linear-gradient(rgba(29,113,182,0.25), rgba(29,113,182, 0.25)), url('../images/surfing.jpg');
  background-size: cover;
  color: white;
}

#Post2{
  background: linear-gradient(rgba(29,113,182,.75), rgba(29,113,182,.75)), url('../images/tropical.jpg');
  width: 25%;
  height: 300px;
  margin: 0;
  padding: 0;
  background-size: cover;
  position:relative;
}

#Post2:hover{
  background: linear-gradient(rgba(29,113,182,0.25), rgba(29,113,182, 0.25)), url('../images/tropical.jpg');
  background-size: cover;
  color: white;
}

#Post3{
  background: linear-gradient(rgba(29,113,182,.75), rgba(29,113,182,.75)), url('../images/surfer.jpg');
  width: 25%;
  height: 300px;
  margin: 0;
  padding: 0;
  background-size: cover;
  position:relative;
}

#Post3:hover{
  background: linear-gradient(rgba(29,113,182,0.25), rgba(29,113,182, 0.25)), url('../images/surfer.jpg');
  background-size: cover;
  color: white;
}

#Post4{
  background: linear-gradient(rgba(29,113,182,.75), rgba(29,113,182,.75)), url('../images/drinks.jpg');
  width: 25%;
  height: 300px;
  margin: 0;
  padding: 0;
  background-size: cover;
  position:relative;
}

#Post4:hover{
  background: linear-gradient(rgba(29,113,182,0.25), rgba(29,113,182, 0.25)), url('../images/drinks.jpg');
  background-size: cover;
  color: white;
}

footer{
  display: inline-block;
  width: 100%;
  bottom: 0px;
  background-color: #223746;
  padding: 20px 0px 20px 0px;
}

footer ul{
  list-style: none;
  color: #AAA;
  display: inline-block;
  float: left;
  font-weight: lighter;
  font-size: 10px;
}

#copyright li{
  display: inline-block;
  float: left;
}

footer img{
  width: 50px;
  height: 50px;
  margin-top:0px;
}

#copyright{
  float: left;
}

#copyright p{
  margin-top: 20px;
}

#nav{
  position: relative;
  float: right;
  display:inline-block;
  right:10%;
  margin-top: 30px;
}

#nav li{
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 5px;
  right: 0px;
}

#shareBlock{
  padding-left: 0px;
  width: 100%;
  margin: auto;
}

#shareBlock li{
  width: 32%;
  background-color: #AAA;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  padding: 0;
  transition: all .5s ease;
}

#shareBlock li:hover{
  background-color: #1D71B6;
  color: white;
  font-weight: lighter;
}

i{
  background: #444;
  padding: 10px;
}

#shareBlock p{
  display: inline-block;
  margin: 0px;
}

@media all and (min-width: 901px){
  #sideBarHidden{
    display: none;
  }
}

@media all and (max-width: 1200px){
  .container{
    width: 95%;
  }
  #popularPosts li{
    width: 50%;
    height: 500px;
  }
  #popularPosts p{
    font-size: 2.75em;
  }
  #shareBlock li{
    display: block;
    margin-top: 5px;
    width: 175px;
  }
}

@media all and (max-width: 900px){
  .landingImage{
    height: 200px;
  }
  header{
    font-size: 0.70em;
  }
  header h1{
    font-size: 50px;
  }
  #popularPosts li{
    height: 250px;
  }
  #popularPosts p{
    font-size: 2em;
  }
  #sideBar{
    display: none;
  }
  #ad{
    height: auto;
    width: 40%;
    margin: 15px 5px 15px 5px;
    float: right;
  }
  #ad img{
    display: block;
    float: right;
    width: 100%;
  }
  #ad a{
    display: block;
  }
  #mainBlock{
    display: block;
    float: left;
    width: 90%;
    margin: 40px 5% 40px 5%;
  }
  footer{
    text-align: center;
  }
  #nav{
    float: none;
    right: 0;
    display: inline-block;
    font-size: 1em;
    padding: 0;
  }
  #copyright{
    float: none;
    display: block;
    padding: 0;
    margin: auto;
  }
}

@media all and (max-width: 550px){
  .container{
    width: 100%;
  }
  #waveIcon{
    left: 0;
  }
  .landingImage h4{
    left:0;
  }
  .landingImage ul{
    right: 0;
  }
  header{
    font-size: 0.60em;
  }
  header h1{
    font-size: 35px;
    padding-top: 20px;
  }
  header p{
    padding-top: 20px;
  }
  #mainBlock h1{
    font-size: 35px;
  }
  #mainBlock{
    font-size: 0.9em;
  }
  #lowerMainBlock h1{
    font-size: 35px;
  }
  #popularPosts li{
    width: 100%;
    height: 300px;
  }
  #nav{
    font-size: .7em;
  }
}
